<div [formGroup]="loginForm" class="p-4">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password">
  </mat-form-field>

  <button mat-button (click)="login()"></button>
</div>
