<div mwlTextInputHighlightContainer class="text-input-highlight-container">
  <textarea mwlTextInputElement class="w-100"
            [(ngModel)]="a"
            (select)="tagSelected($event)"
            #textArea>
  </textarea>

  <mwl-text-input-highlight
    [tags]="tags"
    [tagCssClass]="'bg-pink'"
    [textInputElement]="textArea">
  </mwl-text-input-highlight>
</div>
