<mat-grid-list cols="6" rowHeight="60px">
  <mat-grid-tile>
    <button mat-raised-button color="primary">Name</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">E-Mail</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Geburtsdatum</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Ausbildung</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Beruf</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Abschluss</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary">Speichern</button>
  </mat-grid-tile>
</mat-grid-list>
