<div id="matTable">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="id">
      <th scope="col" mat-header-cell *matHeaderCellDef mat-sort-header="id">ID</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th scope="col" mat-header-cell *matHeaderCellDef>File</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th scope="col" mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let row">{{row.created | date:'medium'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row
        class="clickable highlightable" [class.selected]="selectedPDF===row.id"
        (click)="selectPDF(row.id)">
    </tr>
  </table>
</div>
<div class="p-4">
  <mat-paginator [pageSize]="15"></mat-paginator>
</div>
<div >

  <input type="file" class="file-input" multiple (change)="onFileSelected($event)" #fileUpload>
  <button mat-raised-button color="primary" (click)="fileUpload.click()">Upload</button>
</div>
