.mat-table {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.mat-cell {
  padding: 8px 15px 8px 0;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-column-id {
  flex: 0 0 15%;
  width: 10%;
  overflow: visible;
}

.mat-column-name {
  flex: 0 0 15%;
  width: 60%;
  overflow: visible;
}

.mat-column-created {
  flex: 0 0 15%;
  width: 30%;
  overflow: visible;
}

td {
  color: inherit;
}

.file-input {
  display: none;
}
