<h1>Parsed PDF</h1>
<h3></h3>
<div class="row">

  <div class="col-4">
    <pdfc-pdf-list [pdfEvent]="pdfEvent" [pdfUploadEvent]="pdfUploadEvent"></pdfc-pdf-list>
  </div>
  <div class="col-8">
    <pdfc-pdf-viewer [pdfEvent]="pdfEvent" [pdfUploadEvent]="pdfUploadEvent"></pdfc-pdf-viewer>
  </div>
</div>
