<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/board">Tagger</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/overview">Parsed PDFs</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
