/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

/* Make something obviously clickable */
.clickable {
  cursor: pointer;
}

/* Default hover color */
.highlightable:hover {
  background: rgba(63, 81, 181, 0.6);
}

/* Default hover color */
.selected {
  background: rgba(63, 81, 181, 1);
  color: white;
}
