<!--pdf-viewer [src]="pdfSrc"
            [render-text]="true"
            show-all
            style="display: block;"
></pdf-viewer-->

<div class="row">

  <div class="col-6">
    <iframe id="viewer" ></iframe>
  </div>
  <div class="col-6">
    <div id="matTable">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortDisabled matSortActive="type">
        <ng-container matColumnDef="type">
          <th scope="col" mat-header-cell mat-sort-header="type" *matHeaderCellDef>Type</th>
          <td mat-cell *matCellDef="let row">{{row.type}}</td>
        </ng-container>

        <ng-container matColumnDef="content">
          <th scope="col" mat-header-cell *matHeaderCellDef>Content</th>
          <td mat-cell *matCellDef="let row">{{row.content}}</td>
        </ng-container>

        <ng-container matColumnDef="correct">
          <th scope="col" mat-header-cell *matHeaderCellDef>Correctness</th>
          <td mat-cell *matCellDef="let row">
            <button mat-raised-button (click)="changeAttribute(row)" color="primary">{{row.correct}}</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row>
        </tr>
      </table>
    </div>
  </div>
</div>
