#viewer {
  width: 30vw;
  height: 80vh;
}

.mat-table {
  display: table;
  width: 30vw;
  table-layout: fixed;
}

.mat-cell {
  padding: 8px 15px 8px 0;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-column-type {
  flex: 0 0 15%;
  width: 25%;
  overflow: visible;
}

.mat-column-correct {
  flex: 0 0 15%;
  width: 25%;
  overflow: visible;
}

.mat-column-content {
  flex: 0 0 15%;
  width: 50%;
  overflow: visible;
}
